.container {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding: 0 1.6rem;
   margin: 1.6rem 0;
}

.title {
   font-size: 1.4rem;
   font-weight: 600;
   margin-bottom: 0.2rem;
}

.speaker span {
   font-size: 1.6rem;
   font-variant: small-caps;
   margin-right: 0.1rem;
   margin-left: 1rem;
}

p.speaker {
   font-size: 1.2rem;
}

.timeStamp {
   font-size: 1.4rem;
   font-weight: 600;
}

.modal {
   background-color: #fff;
   height: 100vh;
   width: 100vw;
   position: fixed;
   top: 0;
   left: 0;
   transform: translateY(100vh);
   z-index: 100;
   transition: all 0.4s;
   overflow-y: scroll;
}

.showModalGame {
   transform: translateY(0);
   transition: all 0.4s;
}

.firstRow {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 1.6rem;
   background-color: #fff;
   width: 100%;
   position: sticky;
   top: 0;
   left: 0;
}

.gameTitle {
   font-family: "Rokkitt", serif;
   font-size: 2.4rem;
   font-weight: 900;
}

.closeButton svg {
   width: 2rem;
   height: 2rem;
}

.gameImage {
   width: 100%;
}

.gameDescription {
   font-size: 1.4rem;
   padding: 1.6rem;
   line-height: 2.52rem;
   font-weight: 400;
   margin-bottom: 8rem;
}

@media screen and (min-width: 800px) {
   .container {
      padding: 0 1rem 0 1.6rem;
      cursor: pointer;
   }

   .modal{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      overflow-y: auto;
   }

   .closeButton {
      cursor: pointer;
   }

   .backdrop {
      width: 100%;
      height: 100%;
      position: fixed;
      top:0;
      left: 0;
      z-index: 1;
      background-color: none;
      animation: fadeIn 5s forwards ease-out;
   }

   .modalContent {
      width: 45%;
      min-height: 80%;
      max-height: 100%;
      background-color: #fff;
      z-index: 3;
      overflow-y: auto;
   }

}

@keyframes fadeIn {
   0% {
      backdrop-filter: blur(0px);
      background-color: none;
   }
   50% {
      
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
   }
   100% {
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
   }
}
