.card {
  background-color: #e3e3e3;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 20rem;
  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: spa;
}

.cover {
  height: 15rem;
}

.textBox {
}
