.listBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 91.9rem;
    gap: 2.4rem;
    list-style-type: none;
}

@media screen and (max-width: 800px) {
    .listBox {
        width: 100%;
        gap: 0.1rem;
        flex-direction: column;
    }
}
