footer {
  height: 30px;
  margin-top: 5rem;
  margin-bottom: 8rem;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer a {
  margin-left: .5em;
}

.bottomIcon {
  margin-top: 1rem;
  margin-right: 0.5rem;
  height: 2em;
}

.note {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto 1.6rem;
  letter-spacing: -0.03em;
}

.note a {
  color: #29abe2;
  font-weight: 700;
}
