.searchBar {
    width: 91.9rem;
    height: 5rem;
    display: flex;
    margin: 2.4rem 0;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap: 1.6rem;
}

.input {
    font-family: inherit;
    background-color: transparent;
    border: none;
    width: 100%;
    padding-left: 2rem;
    height: 4rem;
    font-size: 1.6rem;
    position:relative;
}

/*
* Suggestion dropdown
*/

.searchSuggestions {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 15;
    width: 100%;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(30px);
}

.suggestion {
    padding: .5rem 2rem .5rem 2rem;
    cursor: pointer;
    font-size: 1.6rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
}

.suggestion:hover, .keyActive {
    background-color: rgba(41, 171, 226, 0.3);
}


/*
* Search Icons
*/

.searchIcon,
.closeIcon,
.sortIcon {
    height: 4rem;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon {
    position: relative;
}

.searchIcon:after {
    content: "";
    background-color: #f7f7f8;
    height: 5rem;
    width: 2px;
    position: absolute;
    top: -0.5rem;
    right: -0.8rem;
}

.sortIcon,
.closeIcon {
    margin-right: 0.8rem;
    cursor: pointer;
}

.sortModal {
    position: absolute;
    top:100%;
    right: 0;
    z-index: 10;
    width: 33rem;
    height: 16.3rem;
	border-radius: 0px 0px 8px 8px;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(20px);display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.6rem;
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease-out;
}

.show {
	/* animation: fadeIn .5s ease-out forwards; */
	opacity: 1;
	visibility: visible;
}

.sortText {
    font-weight: 800;
    font-size: 1.2rem;
}

.sortContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap:1rem;
}

.sortControl {
	padding-left:2rem;
    font-weight: 600;
    font-size: 1.2rem;
	cursor: pointer;
}

.sortButton {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-weight: 800;
    color: #55aadd;
	cursor: pointer;
}

.checkIcon {
	height: 2rem;
	visibility: hidden;
}

.showCheckIcon .checkIcon{
	visibility:visible;
}

@media screen and (max-width: 800px) {
    .searchBar {
        width: 100vw;
        position: fixed;
        z-index: 10;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
        bottom: 0;
        left: 0;
        margin: 0;
        transition: all 500ms;
    }


    .searchBar:focus-within {
        transform: translateY(calc(-100vh + 100%));
        transition: all 500ms;
    }

    .overlayMobile {
        position:absolute;
        top:0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
        height:100vh;
        width:100vw;
        z-index: 2;
        display:none;
    }

    .searchBar:focus-within + .overlayMobile{
        display: block;
    }


    .sortModal {
        width: 100vw;
        position: fixed;
        top: unset;
        bottom: 0;
        right: 0;
        height: 16.3rem;
        transform: translateY(100%);
        transition: transform 0.5s;
		visibility: visible;
		border-radius: 16px 16px 0px 0px;
    }

    .show {
        transform: translateY(0);
        transition: transform 0.5s;
		visibility: unset;
    }
}

@keyframes fadeIn {
	0% {
	   opacity: 0;
	   visibility: hidden;
	}
	50% {
	   visibility: visible;
	   opacity: 0.6;
	}
	100% {
	   opacity: 1;
	   visibility: visible;
	}
 }
