.searchBar {
  width: 91.9rem;
  height: 5rem;
  display: flex;
  margin-top: 3rem;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 1.6rem;
}

.input {
  font-family: inherit;
  background-color: transparent;
  border: none;
  width: 100%;
  padding-left: 2rem;
  height: 4rem;
}

.searchIcon,
.sortIcon {
  height: 4rem;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  position: relative;
}

.searchIcon:after {
  content: "";
  background-color: #f7f7f8;
  height: 5rem;
  width: 2px;
  position: absolute;
  top: -0.5rem;
  right: -0.8rem;
}

.sortIcon {
  margin-right: 0.8rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .searchBar {
    width: 100vw;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
  }
}
