.logoContainer {
    width: 100%;
    margin-bottom: 1.6rem;
}

.logoContainer a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImage {
    margin: 0 auto;
    width: 70%;
}

@media screen and (min-width: 921px) {
    .logoImage {
        width: 25.7rem;
    }
}
