[tool.poetry]
name = "euscitojoypad_db"
version = "1"
description = "Backoffice per data entry del progetto euscitojoypad.it"
authors = ["Paolo Donadeo <paolo@donadeo.net>"]
license = "MIT"

[tool.poetry.dependencies]
python = "3.13.1"
django = "5.1.5"
django-extensions = "3.2.3"
gunicorn = "23.0.0"
uvicorn = {extras = ["standard"], version = "0.34.0"}
whitenoise = "6.8.2"
pillow = "11.0.0"
django-json-widget = "2.0.1"
beautifulsoup4 = "4.12.3"
psycopg2-binary = "2.9.10"
urllib3 = "1.26.20"


[tool.poetry.group.dev.dependencies]
jupyter = "^1.1.1"
humanize = "^4.11.0"
black = "^24.10.0"
djlint = "^1.36.4"
click = "^8.1.8"
pyppeteer = "^2.0.0"

[tool.black]
line-length = 120
target-version = ['py310', 'py311', 'py312', 'py313']

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
