[tool.poetry]
name = "euscitojoypad_db"
version = "1"
description = "Backoffice per data entry del progetto euscitojoypad.it"
authors = ["Paolo Donadeo <paolo@donadeo.net>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
Django = "^4.1"
django-extensions = "=3.2.0"
gunicorn = "=20.1.0"
uvicorn = {extras = ["standard"], version = "=0.17.6"}
whitenoise = "^6.0.0"
Pillow = "^9.2.0"
django-json-widget = "^1.1.1"
beautifulsoup4 = "=4.11.1"
Werkzeug = "=2.0.1"
psycopg2-binary = "=2.9.3"

[tool.poetry.dev-dependencies]
jupyter = "^1.0.0"
humanize = "^4.1.0"
black = "^22.3.0"
djlint = "^1.0.1"
click = "^8.1.3"

[tool.black]
line-length = 120
target-version = ['py310']

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
