*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: calc(100vh - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  background-color: #f7f7f7;
}

header {
  display: flex;
  justify-content: center;
  height: 30vh;
}

header img {
  height: 100%;
}

h1 {
  margin: auto;
  width: 80%;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  margin: auto;
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 em {
  font-weight: 900;
}

p {
  margin: auto;
  text-align: left;
  width: 80%;
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nota {
  font-style: italic;
  font-size: 12px;
  line-height: 15px;
}

a {
  color: #29abe2;
  font-weight: 700;
  text-decoration: unset;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}

a:hover {
  color: #313131;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}

footer {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer p {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
