name: Build Docker and push to registry (Django)
on:
  #push:
  #  branches: [ main ]
  release:
    types: [published, created, edited]
  workflow_dispatch:
jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Docker Metadata action
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/${{ github.repository_owner }}/e-uscito-joypad-db
          # generate Docker tags based on the following events/attributes
          tags: |
            type=semver,pattern={{version}}
            type=sha
      -
        name: Docker Setup QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          context: ./euscitojoypad_db/
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
